<h1>Editing Friend</h1>

<%= render 'form', friend: @friend %>

<%= link_to 'Show', @friend, class:'btn btn-primary mt-2' %> 
<%= link_to 'Destroy', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger mt-2' %>
<%= link_to 'Back', friends_path, class:'btn btn-warning mt-2' %>
